

        div 
            {
              text-align: center;
              background: black;
              font-family: Verdana;
              color: white;
              text-decoration: none;
              overflow: auto ;
              
            }
            

        a   
            {color: blue; text-decoration: none;}
        ul 
        {align-content: center;}
        header h1
            {padding:80px;}
            label, input [type=submit]
             {display: block; 
             color: white;
            cursor: pointer;}
